# Operating System files
.DS_Store
Thumbs.db

# Editor files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Node modules
node_modules/

# Build files
dist/
build/
*.zip

# WordPress specific
*.log
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/wp-cache-config.php

# Local development
.env
.env.*
!.env.example

# Misc
*.bak
*.swp
*.swo
*~ 